<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="arithmeticCalculator"
		class="com.bin.spring.aop.xml.ArithmeticCalculatorImpl"></bean>
		
	<!-- 配置切面的bean. -->
	<bean id="loggingAspect"
		class="com.bin.spring.aop.xml.LoggingAspect"></bean>
		
	<bean id="validationAspect" class="com.bin.spring.aop.xml.VlidationAspect"></bean>
	
	
	<!-- 配置AOP -->
	<aop:config>
		<!-- 配置切点表达式 -->
		<aop:pointcut expression="excution(* com.bin.spring.aop.xml.ArithmeticCalculator.add(int i, int j))" id="pintcut"/>
		<!-- 配置切面及通知 -->
		<aop:aspect ref="logingAspect" order="2">
			<aop:before method="beforeMethod" pointcut-ref="pintcut"/>
			<aop:after method="afterMethod" pointcut-ref="pintcut"/>
		</aop:aspect>
		<aop:aspect ref="validateArgs" order="1">
			<aop:before method="validateArgs" pointcut-ref="pintcut"/>
		</aop:aspect>
		
	</aop:config>
</beans>
